.register-container {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family: "Poppins", sans-serif;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-family: "Poppins";
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Poppins";
}

.register-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.register-button:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    font-size: 16px;
    font-weight: bold;
}

.error-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 16px;
    font-weight: bold;
}